<div class="ss-method-chain-target ss-method-chain-target-<%= get('target') %>"><%= get("target") %></div>
<ul class="<%= view_helper.list_class %> ss-method-list">
<% _.each(get("methods"), function(m,i) { %>
  <li class="ss-method-name"><%= m.name %></li>
  <ul class="<%= view_helper.list_class %> ss-method-argument-list">
    <% _.each(m.arguments, function(a, j) {  %>
      <%= view_helper.draw_value(a) %>
    <% }); %>
  </ul>
<% }); %>
</ul>